body{
    background-color: lightblue;
}

.cabeçalho-imagem{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-color:red;
    border-style: double;
}
.cabeçalho-titulo{
padding-top: 50px;
background-color: lightgray;
border-color: darkred;
text-shadow: 20px;
}